<!-- cart.html -->
{% extends "base.html" %}

{% block title %}My Cart{% endblock %}

{% block content %}
<header>
    <h1>My Cart</h1>
</header>
<main>
    {% if cart_items %}
        <div class="row">
            {% for item in cart_items %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ item.product_image }}" class="card-img-top" alt="{{ item.product_title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.product_title }}</h5>
                        <p class="card-text"><strong>Price:</strong> ${{ item.product_price }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No items in your cart.</p>
    {% endif %}
</main>
{% endblock %}
