{% extends "base.html" %}

{% block title %}Categories{% endblock %}

{% block content %}
<header>
    <h1>Product Categories</h1>
</header>

<h1>Categories</h1>
<div class="container">
    <div class="row">
        {% for category in categories %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ category }}</h5>
                    <a href="{{ url_for('show_category', category_name=category) }}" class="btn btn-primary">View Products</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
